// VARIABLES

$WHITE: #ffffff;
$BLACK: #000000;
$TREND_BG: #202327;
$BORDER_RADIUS_BOX: 16px;
$PADDING_BOX: 16px;
$PRIMARY_COLOR: #1D9BF0;


// BUTTONS

.btn {
   text-transform: capitalize;
   padding: .7rem 1.5rem;
   border: none;
   border-radius: 50px;
   font-size: 1rem;
   cursor: pointer;

   // primary buttons

   &-primary {
      color: $WHITE;
      background-color: #1D9BF0;
   }

   // outline buttons

   &-outline {
      padding: 0;
      background: transparent;
      color: $PRIMARY_COLOR;
      // hover state
      &:hover {
         text-decoration: underline;
      }
   }
}

button:hover {
   opacity: .6;
}

.outline {
   background: #fff;
   color: #333;
}

// FLEX

.flex {
   display: flex;

   // align-items:  center;

   &-ai-c {
      align-items: center;
   }

   // justify-content: center;

   &-jc-c {
      justify-content: center;
   } 

   // flex direction: column;

   &-fd-c {
      flex-direction: column;
   }

   // justify-content: space between;

   &-jc-sb {
      justify-content: space-between;
   }

   // justity-content: space around

   &-jc-sa {
      justify-content: space-around;
   }

   // justify-content: space-evenly;

   &-jc-se {
      justify-content: space-evenly;
   }
   
}