// SIDEBAR

.sidebar {
   flex: 1;
   position: sticky;
   top: 0px;
   height: 100vh;
   padding: 1rem 24px;
   padding-left: 32px;

   .interaction {
      align-items: flex-start;
      width: 100%;
   }

   .interaction a {
      text-decoration: none;
      color: #fff;
      padding-right: 24px;
      padding-left: 8px;
      padding-top: 12px;
      padding-bottom: 12px;
      border-radius: 8px;
      margin-bottom: 8px;

      &:hover:not(:first-child) {
         background-color: $TREND_BG;
      }
   }

   button {
      width: 100%;
   }
}