// TRENDS

.trends {
   flex: 1.7;
   position: relative;

   .separator {
      position: fixed;
      width: 100%;
      background: $BLACK;
      height: 73px;
   }

   .trend-input {
      position: sticky;
      top: 16px;
      z-index: 100;
   }


   .who-to-follow-body {
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
         margin-bottom: 16px;
      }
      
      & > i {
         flex: 0.5;
         align-items: center;
      }

      & > div {
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex: 2;
      }
   }

   .trend-title, .trends-body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
   }

   .trends-body {
      font-size: 12px;
   }



   margin: 0px 1rem;
   .outline {
      background: transparent;
      padding: 0px;
      height: 40px;
      font-weight: 500;
      color: $PRIMARY_COLOR;
      &:hover {
         text-decoration: underline;
      }
   }
   .trend-input {
      margin-top: 16px;
      background: $TREND_BG;
      height: 42px;
      border-radius: 42px;
      display: flex;
      align-items: center;
      cursor: pointer;
      input {
         outline: none;
         font: inherit;
         background: transparent;
         border: 0px;
         color: #fff;
      }
   }

   footer {
      margin-right: 16px;
      a {
         text-decoration: none;
         color: $WHITE;
         margin-right: 16px;
         // hover state
         &:hover {
            text-decoration: underline;
         }
      }
   }
}

.trend-box {
   background: $TREND_BG;
   margin: 16px 0px;
   border-radius: $BORDER_RADIUS_BOX;
   padding: $PADDING_BOX;
}