.home > .trends {
   flex: 1.5;
   position: sticky;
   top: 0px;
   height: 100vh;
}

.trends {
   margin: 0px 1rem;
   .outline {
      background: transparent;
      padding: 0px;
      height: 40px;
      font-weight: 500;
      color: $PRIMARY_COLOR;
      &:hover {
         text-decoration: underline;
      }
   }
   .trend-input {
      margin-top: 16px;
      background: $TREND_BG;
      height: 42px;
      border-radius: 42px;
      display: flex;
      align-items: center;
      cursor: pointer;
      input {
         outline: none;
         font: inherit;
         background: transparent;
         border: 0px;
         color: #fff;
      }
   }
}

.trend-box {
   background: $TREND_BG;
   margin: 16px 0px;
   border-radius: $BORDER_RADIUS_BOX;
   padding: $PADDING_BOX;
}
// djdj


// .input {
//    width: 100%;
   
//    /* Trends Color */
//    background: #202327;
// }


// /* Trending/Lists */
// .dark {
//    // position: absolute;
//    width: 350px;
//    height: 426px;
//    left: 0px;
//    top: 60px;
//    background-color: #202327;
//    border-radius: 15px;

// }
