@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import './main';
@import './sidebar.scss';
@import './trends';

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
   user-select: none;
}

body{
   background-color: $BLACK;
   color: $WHITE;
   margin: 0 auto;
   width: 100%;
}

#root{
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.timeline {
   flex: 0 0 700px;
   font-family: 'Inter', sans-serif;
   border-left: 1px solid #2F3336;
   border-right: 1px solid #2F3336;
}

.header {
   padding: 1.5rem 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #2F3336;
   position: sticky;
   top: 0;
   background: $BLACK;
   z-index: 99;
}

.top-tweets {
   width: 1.5rem;
   height: auto;
}

.page-title {
   font-size: 1.5rem;
   font-weight: bold;
}

.tweet-editor {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   gap: 20px;
   padding:  .3rem 1rem;
   border-bottom: 1px solid #2F3336;
}

.avatar {
   flex: 0 0 70px;
}

.avatar img {
   max-width: 100%;
   max-height: 100px;
   border-radius: 100%;
}

.tweet-editor-form {
   flex: auto;
}

.tweet-editor-input {
   height: 60px;
   width: 100%;
   border: none;
   outline: none;
   font-size: 1.3rem;
   background-color: black;
   color: white;
   resize: none;
   padding: 10px 0 0 0;
   margin: 13px 0;
}

.tweet-editor-buttons {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.tweet-editor-actions {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 1rem;
}

.tweet-editor-actions button {
   background-color: transparent;
   border: none;
}

.tweet{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 20px;
   padding: 1.5rem 1rem;
   border-bottom: 1px solid #2F3336;
}

.tweet-avatar {
   flex: 0 0 70px;
}

.tweet-avatar img{
   max-width: 100%;
   max-height: 100px;
   border-radius: 100%;
}
.tweet-content{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   gap: 30px;
   width: 100%;
}

/* my custom stles */
.my-flex {
   display: flex;
   align-items: center;
}
.my-flex > p {
   margin-right: 20px;
}
.my-flex > i {
   margin-right: 10px;
}
/* my custom styles */

.my-flex > p {
   margin-right: 10px;
}
.tweet-body{
   display: flex;
   flex-direction: column;
   gap: .5rem;
}
.tweet-title{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 10px;
   font-size: 1rem;
}

.tweet-title svg{
   width: 1.2rem;
   height: auto;
}
.tweet-title-author{
   font-size: 1rem;
}
.tweet-title-details{
   color: #6E767D;
}
.tweet-text{
   color: #D9D9D9;
   font-size: 1rem;
}

.tweet-image{
   width: 100%;
   padding:  .3rem 0 0 0;
}

.tweet-image img{
   max-width: 100%;
   height: auto;
   border-radius: 50px;
   border-color: #2F3336;
   border-style: solid;
   border-width: 1px;
}

.tweet-actions {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5rem;
   color: grey;
   font-size: 1rem;
}

.tweet-actions svg {
   width: 1.5rem;
   height: auto;
   color: red;
   fill: red;
   &:hover {
      fill: navy;
   }
}

.tweet-action{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   &:hover {
      cursor: pointer;
   }
}


.wrapper {
   width: 100%;
}

.none {
   text-decoration: none;
}